@model IEnumerable<Entity.TiendaVirtual>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tienda Virtual</h2>
<p>
    @Html.ActionLink("Nueva Tienda", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodTienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreTienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodTienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTienda)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CodTienda = item.CodTienda }) |
                @Html.ActionLink("Delete", "Delete", new { CodTienda = item.CodTienda })
            </td>
        </tr>
    }

</table>

